.createReviewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formReview{
    width: 700px;
    height: 300px;
}

.ratingButtons button{
    height: 40px;
    width: 30px;
    margin: 15px;
}

.ratingButtons{
    margin-bottom: 5px;
}
