.OutContainer {
	display: flex;
	justify-content: center;
}

.gamesListContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 55px;
	border-style: solid;
	border-color: rgb(38, 38, 38);
	border-radius: 10px;
}

.gameAndReleaseCon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 500px;
}

.gamesListContainer img {
	width: 500px;
	height: 300px;
}

.deleteBtn {
	color: white;
	border: none;
	width: 30px;
	height: 30px;
	font-weight: bold;
}

.deleteBtnCont {
	display: flex;
	justify-content: flex-end;
}
