.reviewContainer {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: rgb(38, 38, 38);
	height: 400px;
	width: 100%;
	margin-bottom: 15px;
	align-items: center;
	border-radius: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	justify-content: flex-start;
	white-space: initial;
	flex-shrink: 1;
}

.reviewContainer p {
	word-break: break-all;
}

.container {
	display: flex;
	justify-content: center;
}

.reviewContainer img {
	height: 200px;
	width: 300px;
}
