body{
    background-color: black;
    color: white;
}

.gamesDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button, input, textarea{
    color: white;
    background-color: rgb(38, 38, 38);
    border-color: black;
}
