body{
    background-color: black;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.gamesDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button, input, textarea{
    color: white;
    background-color: rgb(38, 38, 38);
    border-color: black;
}
